.footerContainer {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: flex-end;
  position:absolute;
  background-color: #2D333F;
  left:0;
  bottom:0;
  right:0;
  height: 70px;
}

.favicon {
  margin: 10px 10px 10px 15px;
}