/* .banner-container {


  max-height: 30%;
  min-width: 1024px;

  width: 100%;
  height: auto;
	

  position: fixed;
  top: 100;
  left: 0;
} */

/* .banner-img {
  max-width: 100%;
  max-height: 100vh;
  margin: auto;
} */
/* 
.banner-message {
  font-size: 36px;
  color: white;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
} */


/* .banner-container {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    /* background-size: cover; */
    /* background-position: 50%;
    min-height: 26rem; */
    /* max-height: 300px; */
    /* position: relative; */
    /* z-index: -1; */

/* } */

/* .banner-img { */
  /* max-height: 100%;
  max-width: 100%;

} */ 

 .banner-container {
    display: flex;
    flex-direction: column;
    position: relative;
    justify-content: center;
    align-items: center;
    background-image: url("https://portlandtable.s3.us-west-2.amazonaws.com/banner+images/banner_img.jpeg");
    background-position: center;
    background-size: cover;
    min-height: 500px;
 } 

  .banner-container::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
  }

  .banner-message {
    z-index: 1;
    color: white;
    font-size: 48px;
    font-weight: 700;
    margin-bottom: 1rem;
  }

  .search-bar-container{
    z-index: 1;
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 1rem;
  }

  .table-options {
    box-sizing: border-box;
    margin-right: 15px;
  }

  .table-options > input, .table-options > select {
    background-color: white;
    border-right: none;
    border-top: none;
    border-bottom: none;
    height: 42px;
    padding-top: 12px;
    padding-bottom: 12px;
    padding-left: 30px;
    padding-right: 30px;
    font-family: Arial, Helvetica, sans-serif;
  }

  .date-select {
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    position: relative;
    /* transform: translateY(1px); */
  }

  input[type="date"]::-webkit-calendar-picker-indicator {
    background: transparent;
    bottom: 0;
    color: transparent;
    cursor: pointer;
    height: auto;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    width: auto;
  }
/* 
  .input-container input {
    border: none;
    box-sizing: border-box;
    outline: 0;
    padding: .75rem;
    position: relative;
    width: 100%;
}

input[type="date"]::-webkit-calendar-picker-indicator {
    background: transparent;
    bottom: 0;
    color: transparent;
    cursor: pointer;
    height: auto;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    width: auto;
} */

  .time-select {
    -webkit-appearance: none;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    color: #2d333f;
    border-left: 1px solid #d8d9db;
  }

  .size-select {
    -webkit-appearance: none;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    color: #2d333f;
    border-left: 1px solid #d8d9db;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
  }

  .table-options-right {
    z-index: 1;
    display: flex;
    box-sizing: border-box;
    margin-left: 15px;
  }

  .table-options-right > input {
    height: 42px;
    padding-top: 12px;
    padding-bottom: 12px;
    border-radius: 5px;
  }

  .search-field {
    background-color: white;
    padding-left: 24px;
    padding-right: 48px;
    text-align: center;
  }

  .search-submit {
    margin-left: 30px;
    background-color: rgb(218, 55, 67);
    border: 1px solid rgb(184, 34, 45);
    color: white;
    font-weight: 600;
    text-align: center;
    padding-left: 36px;
    padding-right: 36px;
  }

  .icon-wrapper {
    position: absolute;
    transform: translate(108px, 12px)
  }

