


.confirmation-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  background-color: white;
  height: 550px;
  width: 300px;
  border: 1px solid #dcdddf;
  margin: 100px 0;
  padding: 30px;
  border-radius: 8px;
  box-shadow: 2px 2px 2px #dcdddf;
}

#confirmation-message {
  font-size: 20px;
  width: 256px;
  text-align: center;
  padding-bottom: 15px;
  border-bottom: 1px solid #dcdddf;
  margin-bottom: 15px;
}

.card-photo-container {
  position: relative
}

.card-background {
  background-color: #F1F2F4;
  display: flex;
  justify-content: center;
}

.card-confirmed-name {
  font-size: 32px;
  width: 256px;
  text-align: center;
  font-weight: 600;
  padding: 10px 0;
  border-bottom: 1px solid #dcdddf;
}

.restaurant-card-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.confirm-card-details {
  display: flex;
  flex-direction: column;
  padding: 20px 0;
  width: 256px;
  margin-bottom: 20px;
}

.confirm-card-details > h2 {
  padding: 10px 0;
  display: flex;
  align-items: center;
  vertical-align: center;
}

.card-link {
  text-align: center;
  width: 256px;
  margin: 10px 0;
  padding: 8px 0;
  font-size: 16px;
  font-weight: 500;
  background-color: rgb(218, 55, 67);
  border: 1px solid rgb(184, 34, 45);
  color: #FFF;
  border-radius: 5px;
}

.card-link:hover {
  background-color: rgb(142, 37, 44);
  border: 1px solid rgb(122, 35, 39)
} 