.profile-page-container {
  background-color: #F1F2F4;
  height: 100%;
  min-height: 800px;
}

.user-welcome {
  display: flex;
  align-items: center;
  height: 80px;
  position: relative;
  width: 100%;
  font-size: 36px;
  font-weight: 600;
  border: 1px solid #F1F2F4;
  border-bottom: 1px solid #dcdddf;
  background-color: white;
  /* border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px; */
  box-shadow: 2px 2px 2px #dcdddf;
  clip-path: inset(-5px 0px -5px -5px);
  /* margin: 30px, 0; */
}

#welcome-msg {
  margin-left: 300px;
}

.user-reservations-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 700px;
  background-color: white;
  margin: 100px 300px;
  border: 1px solid #dcdddf;
  box-shadow: 2px 2px 2px #dcdddf;
}

.user-reservations-list {
  display: flex;
  width: 100%;
}

.profile-list-header {
  font-size: 24px;
  padding-bottom: 15px;
  width: 640px;
  text-align: center;
  margin-top: 15px;
  border-bottom: 1px solid #F1F2F4;
}

.reservation-card-container {
  display: flex;
  justify-content: center;
  margin: 30px;
}

.reservation-card-pic {
  position: relative;
}

.reservation-card-details {
  display: flex;
  flex-direction: column;
  margin: 0px 20px;
}

.reservation-card-details > h2 {
  margin-left: 30px;
  font-size: 16px;
  font-weight: 600;
  padding-bottom: 15px;
}

.reservation-card-details > p {
  padding: 5px 0;
  font-size: 14px;
  display: flex;
  align-items: center;
  vertical-align: center;
}

.reservation-card-button-container {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  width: 160px;
}

.reservation-card-button {
  text-align: center;
  width: 50px;
  margin: 10px 0;
  padding: 8px 16px;
  font-size: 14px;
  font-weight: 500;
  background-color: rgb(218, 55, 67);
  border: 1px solid rgb(184, 34, 45);
  color: #FFF;
  border-radius: 5px;
}

.reservation-card-button:hover {
  background-color: rgb(142, 37, 44);
  border: 1px solid rgb(122, 35, 39);
} 

/* .confirmation-page-container {
  display: flex;
  flex-direction: column;
}

.confirmation-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  background-color: white;
  height: 550px;
  width: 300px;
  border: 1px solid #dcdddf;
  margin: 100px 0;
  padding: 30px;
  border-radius: 8px;
  box-shadow: 2px 2px 2px #dcdddf;
}

#confirmation-message {
  font-size: 20px;
  width: 256px;
  text-align: center;
  padding-bottom: 15px;
  border-bottom: 1px solid #dcdddf;
  margin-bottom: 15px;
}

.card-photo-container {
  position: relative
}

.card-background {
  background-color: #F1F2F4;
  display: flex;
  justify-content: center;
}

.card-confirmed-name {
  font-size: 32px;
  width: 256px;
  text-align: center;
  font-weight: 600;
  padding: 10px 0;
  border-bottom: 1px solid #dcdddf;
}

.restaurant-card-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.confirm-card-details {
  display: flex;
  flex-direction: column;
  padding: 20px 0;
  width: 256px;
  margin-bottom: 20px;
}

.confirm-card-details > h2 {
  padding: 10px 0;
  display: flex;
  align-items: center;
  vertical-align: center;
}

.card-link {
  text-align: center;
  width: 256px;
  margin: 10px 0;
  padding: 8px 0;
  font-size: 16px;
  font-weight: 500;
  background-color: rgb(218, 55, 67);
  border: 1px solid rgb(184, 34, 45);
  color: #FFF;
  border-radius: 5px;
}

.card-link:hover {
  background-color: rgb(142, 37, 44);
  border: 1px solid rgb(122, 35, 39)
} */