.profile-page-container {
  background-color: #F1F2F4;
  height: 100%;
  min-height: 800px;
}

.user-welcome {
  display: flex;
  align-items: center;
  height: 80px;
  position: relative;
  width: 100%;
  font-size: 36px;
  font-weight: 600;
  border: 1px solid #F1F2F4;
  border-bottom: 1px solid #dcdddf;
  background-color: white;
  /* border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px; */
  box-shadow: 2px 2px 2px #dcdddf;
  clip-path: inset(-5px 0px -5px -5px);
  /* margin: 30px, 0; */
}

#welcome-msg {
  margin-left: 300px;
}

.user-reservations-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 650px;
  background-color: white;
  margin: 100px 300px;
  border: 1px solid #dcdddf;
  box-shadow: 2px 2px 2px #dcdddf;
}

.user-reservations-list {
  display: flex;
  width: 100%;
}

.profile-list-header {
  font-size: 24px;
  padding-bottom: 15px;
  width: 590px;
  text-align: center;
  margin-top: 15px;
  border-bottom: 1px solid #F1F2F4;
}

.reservation-card-container {
  display: flex;
  justify-content: center;
  margin: 30px;
}

.reservation-card-pic {
  position: relative;
}

.reservation-card-text-container {
  display: flex;
  justify-content: space-between;
  width: 330px;
}

.reservation-card-details {
  display: flex;
  flex-direction: column;
  margin: 0px 10px;
}

.reservation-card-details > h2 {
  margin-left: 30px;
  font-size: 16px;
  font-weight: 600;
  padding-bottom: 15px;
}

.reservation-card-details > p {
  padding: 5px 0;
  font-size: 14px;
  display: flex;
  align-items: center;
  vertical-align: center;
}

.reservation-card-button-container {
  margin-top: 35px;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 160px;
}

.reservation-card-button {
  text-align: center;
  width: 50px;
  margin: 10px 0;
  padding: 8px 16px;
  font-size: 14px;
  font-weight: 500;
  /* background-color: rgb(218, 55, 67);
  border: 1px solid rgb(184, 34, 45); */
  background-color: #247f9e;
  color: #FFF;
  border-radius: 5px;
}

.reservation-card-button:hover {
  background-color: #1f6880;
  /* background-color: rgb(142, 37, 44);
  border: 1px solid rgb(122, 35, 39); */
} 

#signup-button {
  border: 0.0625rem solid #247f9e;
  background-color: #247f9e;
  color: #fff;
  margin-right: 15px;
}

#signup-button:hover {
  background-color: #1f6880;
}

.editFormContainer {
  background-color: red;
  height: 50px;
  width: 50px;
  position: absolute;
  color: white;
}