.edit-page-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 1246px;
  background-color:  #F1F2F4;
  border-top: 1px solid #dcdddf;
  box-shadow: inset 0px 4px 4px -2px #dcdddf;
}

.edit-card-restaurant-container {
  width: 256px;
  height: 200px;
  background-color: white;
  border: 1px solid #dcdddf;
  border-radius: 8px;
  box-shadow: 2px 2px 2px #dcdddf;
  margin-top: 50px
}

.edit-form-container {
  padding-top: 20px;
  margin-top: 50px;
  position: relative;
  margin-bottom: 300px;
  display: flex;
  width: 300px;
  padding-bottom: 32px;
  border: 1px solid #dcdddf;
  border-radius: 8px;
  background-color: white;
  box-shadow: 2px 2px 2px #dcdddf
}

#edit-form {

}
